{% extends "base.html" %}
{% block preamble %}
<link href="app/static/css/custom.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-12 text-left">
        <h3>Hello, TDI folks!</h3>
        <p>Please forgive the mess. I hope it runs as intented.</p>
      </div>
      <div class="col-lg-12 text-left">
        <form action="/" method="POST">
          {{ template_form.hidden_tag() }}
          <p>{{ template_form.ticker.label }}: {{ template_form.ticker() }}</p>
          <p>{{ template_form.ticker_date.label }} (YYYY-MM): {{ template_form.ticker_date() }}</p>
          <p>{{ template_form.submit() }}</p>
        </form>
      </div>
    </div>
    <div class="row">
      <p>Current ticker symbol: {{ template_symbol }}</p>
      <p>Current date entered: {{ template_date }}</p>
      <!-- <p><a href="{{ url_for('index') }}">Find another stock</a></p> -->
    </div>
    {{ div|safe }}
    {{ script|safe }}
{% endblock %}
